.vscode
/node_modules
/miniprogram_npm
node_modules
miniprogram_npm
package-lock.json
yarn.lock
pnpm-lock.yaml
project.private.config.json
project.config.json
.idea
/dist
*.log
*.md
*.png
*.svg
*ignore
.cache
.editorconfig
